.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

ul.pagination .page-item i {
  font-size: 16px;  /* Preferred icon size */
}

footer {
  position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 70px;
    width: 100%;
    background-color:  #f8f9fa!important;
}

td:last-child {
  word-break: break-word;
  overflow-wrap: break-word;
  min-width: 120px;
}

.nav-no-header {
  width: 0;
  height: 0;
  padding: 0;
  border: none !important;
}

table {
    font-size: 0.8em;
}

table tr td:first-child,
table tr th:first-child {
  display: none;
}

#table-container{
  overflow-x: overlay;
}